/* CSS Document */
body{
	background:#292931;
}
#login{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
#login h2{
	text-align:center;
	color:white;
	font-family:Arial, Helvetica, sans-serif;
	font-size:35px;
}
#login input {
	display:block;
	width:320px;
	height:40px;
	padding:10px;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	color:white;
	background:rgba(0,0,0,0.3);
	outline:none;
	border:1px solid rgba(0,0,0,0.3);
	border-radius:5px;
	margin: auto;
	margin-bottom:10px;
}
#login input[type=submit]{
	display:block;
	background:#55acee;
	font-size:18px;
	text-align:center;
	width:100%;
}